.img-control-grid {
    margin: 1px !important;
    padding: 1px !important;
    margin-bottom: 2px !important;
}

/* CSS */
.slider {
    width: 225px;
    /* Adjust as needed */
    height: 25px;
    /* Adjust as needed */
}

.img-control-card {
    /* --bs-card-title-space: 0.5rem !important; */
    padding: 1px !important;

}

.card-body {
    padding: 0.15rem !important;
    font-size: 1rem !important;
}

.card-title {
    margin-bottom: 0.1rem !important;
}

/* CSS */
.no-right-margin {
    margin-right: 0px !important;
}
